/* ----------- import reset styles --------- */
@import "modern-css-reset/dist/reset.min.css";

/* ---------- import abstract folders ----------- */
@import "./abstracts/_variable.css";

/* ------------ import base folder ------------ */
@import "tailwindcss/components";
@import "./base/_base.css";
@import "./base/_typography.css";

/* ---------- import component folder ---------- */
@import "tailwindcss/components";

/* ----------- import utilities folder ---------- */
@import "tailwindcss/utilities";

.btn {
  min-width: 100px;
  border: none;
  font-family: Inter;
  cursor: pointer;
}

.btn-sm {
  height: 40px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.btn-md {
  height: 45px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.accordion-body {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
